label{
	display:block;
}
#dugme-kontakt{
	margin-left: 400px;
	width:180px;
	font-family: helvetica;
	background: #47334f;
	border: 0;
	color:white;
	height:40px;
	border-radius:2px;
	font-size:100%;
}
