label{
	display:block;
}
#dugme-kontakt{
	margin-left: 400px;
	width:180px;
	font-family: helvetica;
	background: #47334f;
	border: 0;
	color:white;
	height:40px;
	border-radius:2px;
	font-size:100%;
}
.kontakt-text{
	width:575px;
	height: 27px;
	padding-left: 4px;
}
.kontakt-pitanje{
	width:575px;
	height:80px;
	padding-left: 4px;
	font-family: helvetica;
	/*resize: none;*/
	resize: vertical;
}
.kontakt-forma, .kontakt-naslov{
	position:relative;
	display:block;
	width:40%;
	/*margin: 0 auto;*/
}
.kontakt-labela, .kontakt-heading{
	font-family: helvetica;
	font-weight: bold;
}
.kontakt-heading{
	width:180px;
	border-bottom: 11px solid #2da2c8;
}
