body{
    font-family: "Lato",sans-serif;
    text-decoration: none;
    
}

.wrapper{
    width:1160px;
    height:950px;
    margin-left: 50px;
    margin-top: -50px
}



.wrapper .naslov .topborder img{
  height: 2px;
  width:100%;
}

.wrapper .naslov .bottomborder img{
  height: 2px;
  width:100%;
}

.slike{
  margin-left: 79px;
}

.wrapper .slike img{
  width: 200px;
  height: 148px;
  padding: 5px 5px;
  transition: -webkit-transform 0.25s ease;
}

#sirina {
  margin-left: -55px;
  width: 1349px;
}
