#body{
	height: 400px;
}
.kocka {
	width: 220px;
	height: 220px;
	overflow:hidden;
	color: #f0485e;
	text-align: center;
}

#dan1 {
	position: relative;
	top: 50px;
	left: 30px;
	color: transparent;
	background-color: blue;
}

#dan2 {
	position: relative;
	top: -169px;
	left: 360px;
	color: transparent;
	background-color: blue;
}

#dan3 {
	position: relative;
	top: -389px;
	left: 680px;
	color: transparent;
	background-color: blue;
}

#dan4 {
	position: relative;
	top: -609px;
	left: 1000px;
	color: transparent;
	background-color: blue;
}

.imgWrap {
  position: relative;
  height: 220px;
  width: 220px;

}

.imgDescription {
  position: absolute;
  top: -11px;
  height: 220px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.71);
  color: #fff;
  text-align: center;
  font-size: 11px;
  visibility: hidden;
  opacity: 0;
  font-family: 'Roboto slab', sans-serif;
  text-transform: uppercase;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}