.partners{
	height: auto;
	width: 1200px;
}

.naslov1{
	font-size: 28px;
  	padding:10px 20px;
  	background:#fff;
  	margin-bottom:20px;
  	margin-top: -60px;
  	box-shadow:0px 2px 5px #5d5d5d;
	width: 580px;
}

#lista{
	list-style:none; 
	position:relative;
}

#lista1{
	list-style:none; 
	position:relative;
}

.partneri_box{
	
	width: 800px;
	height: auto;
	margin: auto;
	overflow: hidden;
	margin-left: 400px;
}
ul li{
	display: inline;

}

div ul li {
	margin-left: 20px;
	font-size: 14px;

}
#annual{
	color: #47334f;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
}

#project{
	color: #47334f;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
	top: -100px;
}
.partneri {
	margin-left: 320px;
}

#klix{
	position: relative;
	width: 300px;
	margin-bottom: 30px;
	margin-left: 250;
	
}

#bhmagazin {
	position: relative;
	height: 50px;
	width: 250px;
	left: -300px;
	margin-bottom: 40px;
}
#hocu{
	position: relative;
	height: 75px;
	width: 170px;
	left: -250px;
	margin-bottom: 40px;
}

#tvsa{
	position: relative;
	height: 80px;
	width: 175px;
	left: -200px;
	margin-bottom: 25px;
}

#sutra{
	position: relative;
	height: 50px;
	width: 176px;
	left: -160px;
	margin-bottom: 35px;
}
#cafe{
	position: relative;
	height: 115px;
	width: 190px;
	left: -270px;
	margin-bottom: 40px;
}
#haber{
	position: relative;
	height: 55px;
	width: 181px;
	left: -220px;
	margin-bottom: 50px;
}
#radiom{
	position: relative;
	height: 55px;
	width: 181px;
	left: -180px;
	margin-bottom: 50px;
}
#studomat{
	position: relative;
	height: 55px;
	width: 181px;
	left: -125px;
	margin-bottom: 50px;
}
#unsa{
	position: relative;
	height: 150px;
	width: 150px;
	left: 130px;
	margin-bottom: 50px;
}