.partners{
	height: auto;
	width: 1200px;
}

.naslov1{
	font-size: 28px;
  	padding:10px 20px;
  	background:#fff;
  	margin-bottom:20px;
  	margin-top: -60px;
  	box-shadow:0px 2px 5px #5d5d5d;
	width: 580px;
}

#lista{
	list-style:none; 
	position:relative;
}

#lista1{
	list-style:none; 
	position:relative;
}

.partneri_box{
	
	width: 800px;
	height: auto;
	margin: auto;
	overflow: hidden;
	margin-left: 400px;
}
ul li{
	display: inline;

}

div ul li {
	margin-left: 20px;
	font-size: 14px;

}
#annual{
	color: #47334f;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
}

#project{
	color: #47334f;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
	top: -100px;
}
.partneri {
	margin-left: 320px;
}

#klix{
	position: relative;
	width: 300px;
	margin-bottom: 30px;
	margin-left: 250;
	
}

#bhmagazin {
	position: relative;
	height: 50px;
	width: 250px;
	left: -50px;
	margin-bottom: 25px;
}
#hocu{
	position: relative;
	height: 75px;
	width: 170px;
	left: 0px;
	margin-bottom: 25px;
}