.partners{
	height: auto;
	width: 1200px;
}

.naslov1{
	font-size: 28px;
  	padding:10px 20px;
  	background:#fff;
  	margin-bottom:20px;
  	margin-top: -60px;
  	box-shadow:0px 2px 5px #5d5d5d;
	width: 580px;
}

#lista{
	list-style:none; 
	position:relative;
}

#lista1{
	list-style:none; 
	position:relative;
}

.partneri_box{
	width: 1200px;
	height: auto;
	margin: auto;
	overflow: hidden;
}
ul li{
	display: inline;

}

div ul li {
	margin-left: 20px;
	font-size: 14px;

}
#annual{
	color: #47334f;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
}

#project{
	color: #47334f;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px;
	top: -100px;
}
.partneri {
	margin-left: 320px;
}

#redbull{
	position: relative;
	width: 300px;
	margin-bottom: 30px;
	
}

#microsoft{
	position: relative;
	width: 422px;
	margin-bottom: 50px;
	left: 0px;
}

#api{
	position: relative;
	width: 380px;
	margin-bottom: 35px;
	
}

#networks{
	position: relative;
	width: 380px;
	margin-bottom: 35px;
	left: 150px;
}

#hcc{
	position: relative;
	width: 240px;
	margin-bottom: 35px;
	left: 230px;
}
#vita {
	position: relative;
	width: 120px;
	height: 153px;
	left: 80px;
	margin-bottom: 10px;
}

#mostarlic {
	position: relative;
	height: 115px;
	width: 150px;
	left: 105px;
	margin-bottom: 25px;
}

