 @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext);

body {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	background-color: #d5d5d5;
	background-size: 1360px 800px;
	margin: 0px;
}

.naslov{
	font-size: 28px;
}

.cd {
	position: relative;
	width: 350px;
	height: 50px;
	left: 550px;
	top: -52px;

}
.okvir {
	position: relative;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: white;
	background-color: #47334f;
	height: 40px;
	width: 150px;
	left: 880px;
	border: solid white;
	top: -7px;
	text-decoration: none;
	border-radius: 5px;
	border-width: 2px;
	text-transform: uppercase;
}


.dugme {
  display: block;
  margin: auto;
}

.okvirCD{
	position: absolute;
	background-color: #47334f;
	left: 330px;
	top: 10px;
	width: 550px;
	height: 50px;
	display: table;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.okvirCD p{
	display:table-cell;
	vertical-align: middle;
	text-align:left;
	padding-left:5px;
}

#apply {
	position: relative;
	background-color: #47334f!important;
	padding-right: 30px;
	padding-top: 20px;
	height: 50px;
	text-align: center;
	color: white;
	box-shadow: 0px 4px 4px #313131;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	-webkit-animation-name: spustanje;
    -webkit-animation-duration: 4s;
    animation-name: spustanje;
    animation-duration: 4s;
}

/*spustanje home nav bara */
@-webkit-keyframes spustanje {
    0%   {background-color: #8c2141; left:0px; top:-72px;}
    100% {background-color: #8c2141; left:0px; top:0px;}
}

/*spustanje home nav bara */
@keyframes spustanje {
    0%   {background-color: #8c2141; left:0px; top:-72px;}
    100% {background-color: #8c2141; left:0px; top: 0px;}
}

.nav-bar {
	background-color: #47334f;
	padding-right: 30px;
	padding-top: 20px;
	height: 50px;
}

.nav-bar .dugme {
	float: right;
	margin-top: 50px;
	line-height: 30px;
	margin:0px 20px;
	border: none;
	text-decoration: none;
	color: black;
	font-size: 16px;
	color:#fff;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Roboto slab', sans-serif;
	padding-bottom: 1px;
}

.nav-bar .dugme:hover{
	cursor: pointer;
	color:#4a7887;
	border-bottom: 4px solid #4a7887;
}

.romb{
	position: relative;
	background-color: #47334f;
	webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	overflow:hidden;
	color: #f0485e;
	text-align: center;
}

a {
	text-decoration: none;
}

#skew1 {
	height: 200px;
	width: 200px;
	top: 200px;
	left: 350px;

}
#skew1:hover{
	background-color: blue;
}

#skew2 {
	height: 100px;
	width: 100px;
	top: -31px;
	left: 546px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
	background: url(logo.jpg);
	color: transparent;
}

#skew2:hover{
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
     font-weight: bold;
}

#skew3 {
	height: 100px;
	width: 100px;
	top: -50px;
	left: 620px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
	background: url(http://idemo.ba/wp/wp-content/uploads/bascarsija-100x100.jpg);
	color: transparent;
}

#skew3:hover {
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

#skew4 {
	height: 100px;
	width: 100px;
	top: -150px;
	left: 769px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
	background: url(https://media.licdn.com/mpr/mpr/shrink_100_100/p/1/005/078/08f/3007c60.jpg);
	color: transparent;
}

#skew4:hover{
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

#skew5 {
	height: 50px;
	width: 50px;
	top: -148px;
	left: 838px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
	background: url(http://www.af.mil/DesktopModules/SocialMediaFeed/Templates/JCS/Images/FB-f-Logo__blue_50.png);
}

#skew5:hover {
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

#skew6 {
	height: 50px;
	width: 50px;
	top: -155px;
	left: 880px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
	background: url(http://striderlearning.com/wp-content/uploads/2015/04/instagram-logo-kgo-55x55.png);
}

#skew6:hover {
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

#skew7 {
	height: 50px;
	width: 50px;
	top: -245px;
	left: 925px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
	background: url(http://investorplace.com/wp-content/themes/InvestorPlaceV2/images/article-page/twitter-logo.png);
}

#skew7:hover {
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

#skew8 {
	height: 100px;
	width: 100px;
	top: -80px;
	left: 620px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    background: url(http://www.teslaelectric-eu.com/test/html_new/img/partners_1.png);
    background-size: 150px;
	color: transparent;
}

#skew8:hover {
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}


img {
  	width: 600px;
  	height: auto;
}

.slike{
	position: relative;
	top: 75px;
	padding-left: 60px;
	height: auto;
	margin: 0px;
}

.tekst{
	position: relative;



	color: #47334f;
	text-align: justify;
	font-size: 16px;
	margin: 0px;
}

#slika{
	cursor: pointer;
	cursor: hand;
}
/*
@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#gif{
 -webkit-animation: fadein 2s ease-in alternate infinite;
}*/
