 @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext);

body {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	background-color: #d5d5d5;
	margin: 0px;
	padding-bottom: -100px;
}

.raspored{
	width: 1240px;
}

.hoverfb:hover{
	border-radius: 5px;
	background-color: #949393;
}

.hoverig:hover{
	border-radius: 5px;
	background-color: #949393;
}

.hovertw:hover{
	border-radius: 5px;
	background-color: #949393;
}

.naslov{
	font-size: 28px;
  padding:10px 20px;background:#fff;margin-bottom:20px;margin-top:-60px;box-shadow:0px 2px 5px #5d5d5d;
}

.info{
  background:#fff;padding:10px 20px;margin-bottom:20px;
  -webkit-box-shadow:0px 2px 5px #5d5d5d;
  -moz-box-shadow:0px 2px 5px #5d5d5d;
  box-shadow:0px 2px 5px #5d5d5d;
}

.cd {
	position: relative;
	width: 350px;
	height: 50px;
	left: 550px;
	top: -52px;
  color:#fff!important;
}
#TextBox_jbeeb_90{ color:#fff!important; }
#TextBox_jbeeb_175{ color:#fff!important; }
#TextBox_jbeeb_260{ color:#fff!important; }
#TextBox_jbeeb_345{ color:#fff!important; }
.okvir {
	position: relative;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: white;
	background-color: #47334f;
	height: 40px;
	width: 150px;
	left: 880px;
	border: solid white;
	top: -7px;
	text-decoration: none;
	border-radius: 5px;
	border-width: 2px;
	text-transform: uppercase;
}


.dugme {
  display: block;
  margin: auto;
}

.okvirCD{
	position: absolute;
	background-color: #47334f;
	left: 330px;
	top: 10px;
	width: 550px;
	height: 50px;
	display: table;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16px;
}

.okvirCD p{
	display:table-cell;
	vertical-align: middle;
	text-align:left;
	padding-left:5px;
}

#apply {
	position: relative;
	background-color: #47334f!important;
	padding-right: 30px;
	padding-top: 20px;
	height: 50px;
	text-align: center;
	color: white;
	box-shadow: 0px 4px 4px #313131;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	-webkit-animation-name: spustanje;
    -webkit-animation-duration: 4s;
    animation-name: spustanje;
    animation-duration: 4s;
}

/*spustanje home nav bara */
@-webkit-keyframes spustanje {
    0%   {background-color: #47334f; left:0px; top:-72px;}
    100% {background-color: #47334f; left:0px; top:0px;}
}

/*spustanje home nav bara */
@keyframes spustanje {
    0%   {background-color: #47334f; left:0px; top:-72px;}
    100% {background-color: #47334f; left:0px; top: 0px;}
}

.nav-bar {
	background-color: #47334f;
	padding-right: 30px;
	padding-top: 20px;
	height: 50px;
}

.nav-bar .logo{
  float:left;
  height:70px;
  margin:2px 10px;
  margin-top:-20px;
}

.nav-bar .logo img{
  height:70px;
  width: auto;
}

.nav-bar .dugme {
	float: right;
	margin-top: 50px;
	line-height: 30px;
	margin:0px 20px;
	border: none;
	text-decoration: none;
	color: black;
	font-size: 16px;
	color:#fff;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Roboto slab', sans-serif;
	padding-bottom: 1px;
}

.nav-bar .dugme:hover{
	cursor: pointer;
	color: #8db0b0;

}

.romb {
	position: relative;
	background-color: #47334f;
	webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	overflow:hidden;
	color: #f0485e;
	text-align: center;
}

a {
	text-decoration: none;
}


#skew1 {
	height: 200px;
	width: 200px;
	top: 50px;
	left: 200px;
	background: url(../img/DSLogo.png);
}

#skew2 {
	height: 100px;
	width: 100px;
	top: 120px;
	left: 700px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
	background: url(../img/ds.png);
	color: transparent;
}

#skew2:hover{
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
     font-weight: bold;
}

#skew3 {
	height: 100px;
	width: 100px;
	top: -200px;
	left: 480px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
	background: url(../img//sa.png);
	color: transparent;
}

#skew3:hover {
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

#skew4 {
	height: 100px;
	width: 100px;
	top: -300px;
	left: 930px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
	background: url(../img/eestec.png);
	color: transparent;
}

#skew4:hover{
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

#skew5 {
	height: 50px;
	width: 50px;
	top: 53px;
	left: 646px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    background-color: transparent;
}

#skew5:hover {
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

#skew6 {
	height: 50px;
	width: 50px;
	top: -8px;
	left: 686px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    background-color: transparent;
}

#skew6:hover {
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

#skew7 {
	height: 50px;
	width: 50px;
	top: -395px;
	left: 1075px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    background-color: transparent;
}

#skew7:hover {
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}

#skew8 {
	height: 52px;
	width: 52px;
	top: -335px;
	left: 885px;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
    background-color: transparent;
}

#skew8:hover {
	-webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);

}


.slike{
	position: relative;
	top: 75px;
	padding-left: 60px;
	height: auto;
	margin: 0px;
}

.tekst{
	position: relative;
  margin-top: 40px;
	color: #47334f;
	text-align: justify;
	font-size: 16px;

}

#slika{
	cursor: pointer;
	cursor: hand;
}


.pictures{
  display: block;
  width: 95%;
  margin-left:5%;
  margin-top: 40px;
}

.footer{
  background:#292929;
  width:100%;
  height:334px;
  margin-top:30px;
}

.footer a {
	text-decoration: none;
	color: #fff;
}

.cover-lcsarajevo{
  height:280px;
  background:url('http://www.jobfair.ba/img/cover/oeestecu.jpg'); no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
   border-bottom: 2px solid #47334f;
}

.cover-sarajevo{
  height:280px;
  background:url('http://pre14.deviantart.net/ae93/th/pre/f/2014/033/a/3/___panorama_of_sarajevo____by_roblfc1892-d74so1q.jpg'); no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
   background-position-y:-120px;
   border-bottom: 2px solid #47334f;

}

.cover-ds{
  height:280px;
  background:url('https://static.pexels.com/photos/232/apple-iphone-books-desk.jpg'); no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
   background-position-y:-560px;
   border-bottom: 2px solid #47334f;

}

.cover-raspored{
    height:280px;
    background:url('https://static.pexels.com/photos/7376/startup-photos-large.jpg'); no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-position-y:-160px;
    border-bottom: 2px solid #47334f;
    
   }
/*
@-webkit-keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#gif{
 -webkit-animation: fadein 2s ease-in alternate infinite;
}*/

/*tarik  i kerim footer*/
#futer {
	display
	width: 100%;
}

#lijevi {
	background-color: red;
	height: 150px;
}

#srednji {
	background-color: blue;
	height: 150px;
}

#desni {
	background-color: green;
	height: 150px;
}

/* kraj tarika i kerima */

/*Nermin*/
.slike {

	width: 1000px;
	margin: 0 auto;
}

.slike li {

	float: left;
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
}


.slike ul {
	list-style-type: none;
	overflow: hidden;
}


.slike li hover {

	cursor: pointer;
}

.slike li p {

	position: absolute;
	color: transparent;
	font: 300 10px/90px 'Arvo', Helvetica, Arial, sans-serif;
	width: 250px;
	height: 250px;
	top: 0;
	left: 0;
	text-align: center;
	text-transform: uppercase;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.slike li:hover p {
	color: white;
	background: rgba(0,0,0,0.7);
	z-index: 1;
}

.slike img {
	width: 250px;
	height: 250px;
	
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.slike li:hover img {
	height: 250px;
	width: 250px;

	opacity: 0.9;
		filter: alpha(opacity=40); /* For IE8 and earlier */
}

@media screen and (max-width: 1120px) {
	  .slike {
		width: 840px;
	}
}

@media screen and (max-width: 840px) {
	  .slike {
		width: 560px;
	}
}

@media screen and (max-width: 560px) {
	  .slike {
		width: 280px;
	}
}